<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-stack-2x fa-align-left text-primary"></i>
                        <i class="fa  fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MARCAS AUDACES</h4>
                    <p class="text-muted">Hacer marcas con valor es nuestra <br>especialidad, ponemos todo el <br>corazón en cada uno de los proyectos <br>como si fuera el nuestro.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-stack-2x fa-align-left text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CONTENIDO CREATIVO</h4>
                    <p class="text-muted">Imaginemos cosas chingonas, <br>contenidos virales que lleguen a donde <br>tengan que llegar y a dónde no <br>también.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-stack-2x fa-align-left text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SOCIAL MEDIA</h4>
                    <p class="text-muted">Las redes sociales son el reflejo de <br>una marca, el contacto más directo que <br>existe actualmente con tus clientes, <br>creamos comunidades sanas.</p>
                </div>
            </div>
        </div>
    </section>